<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ksoft.webrepairtool">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.ListFTPConnectionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.NewFTPHostActivity" />
        <activity android:name=".Activities.RemoteDirectoryBrowserPage.DirecotyBrowserActivity" />
        <activity android:name=".Activities.FileEditorActivity" />
        <activity android:name=".Activities.ListSSHCommandsActivity" />
        <activity android:name=".Activities.NewSSHCommandsPage.NewSSHCommandActivity" />
        <activity android:name=".Activities.DisplaySSHReplyActivity"></activity>
    </application>

</manifest>
